/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #0D192D; /* Background color for the body */
}

/* Navigation header styles */
header {
  background-color: #0D192D; /* Background color for the header */
  color: #fff;
  padding: 20px;
  text-align: right; /* Right justify the header */
}

.navigation {
  display: flex;
  justify-content: flex-end; /* Right justify the navigation links */
  align-items: center;
}

.navigation a {
  color: #9b8aff; /* Muted lavender/grey for the text */
  text-decoration: none;
  font-size: 14px; /* Smaller font size for navigation links */
  margin-left: 20px; /* Add spacing between navigation links */
  transition: color 0.3s ease;
  font-family: monospace; /* Use monospace font */
}

.navigation a:hover {
  color: #00ffff; /* Hover color for the navigation links */
}

.resume-box {
  border: 2px solid #00ffff;
  color: #00ffff;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-family: monospace;
  font-size: 14px;
  transition: transform 0.3s ease;
  position: relative;
}

.resume-box:hover {
  transform: translateY(-3px); /* Elevate the box slightly on hover */
}

/* About section styles */
#intro, #name {
  margin-left: 60px; /* Adjusted margin */
}

#intro span {
  font-family: monospace;
  color: #9b8aff; /* Muted lavender/grey color for "Hi, my name is" */
  font-size: 14px; /* Smaller font size for intro text */
}

#name h1 {
  font-size: 80px; /* Adjusted font size for the name */
  color: #808080; /* Grey color for the name */
  margin-top: 0;
  margin-bottom: 5px;
  font-family: monospace; /* Use monospace font */
}

/* Section titles */
section h2 {
  color: #000; /* Black color for section titles */
  font-family: monospace; /* Use monospace font */
  font-size: 16px; /* Adjust font size for section titles */
  margin-left: 60px; /* Add margin for alignment */
}
