/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Set background color for the entire page */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #0D192D; /* Background color for the entire page */
  margin: 0; /* Remove default margin */
}

/* Remove margin from sections */
section {
  margin-top: 0; /* Remove top margin for sections */
}

/* Navigation header styles */
header {
  background-color: #456a93; /* Background color for the header */
  color: #fff;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #ff8965; /* Hover color for the navigation links */
}

.navigation span {
  color: #ff8965; /* Color for the words */
}

.resume-box {
  background-color: #ff8965; /* Background color for the resume box */
  color: #333;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-family: monospace;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.resume-box:hover {
  background-color: #00ffff; /* Hover color for the resume box */
}
