/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #0D192D; /* Background color for the body */
}

/* Navigation header styles */
header {
  background-color: #0D192D; /* Background color for the header */
  color: #fff;
  padding: 20px;
  text-align: right; /* Right justify the header */
}

.navigation {
  display: flex;
  justify-content: flex-end; /* Right justify the navigation links */
  align-items: center;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px; /* Add spacing between navigation links */
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #00ffff; /* Hover color for the navigation links */
}

.navigation span {
  color: #00ffff; /* Color for the words */
}

.resume-box {
  border: 2px solid #00ffff;
  color: #00ffff;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-family: monospace;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.resume-box:hover {
  background-color: #00ffff; /* Hover color for the resume box */
}

/* About section styles */
#intro, #name {
  margin-left: 60px;
}

#intro span {
  font-family: monospace;
  color: #00ffff;
}

#name h1 {
  font-size: 100px;
  color: #ddd;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
}
